<h2>Find and Post paint in your neighborhood</h2>
<div class="content">
    <section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-red">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>RED</h1>
        </a>
    </section>
    <section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-orange">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>ORANGE</h1>
        </a>
    </section><section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-yellow">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>YELLOW</h1>
        </a>
    </section><section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-green">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>GREEN</h1>
        </a>
    </section><section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-blue">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>BLUE</h1>
        </a>
    </section><section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-purple">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>PURPLE</h1>
        </a>
    </section><section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-black">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>BLACK</h1>
        </a>
    </section><section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-grey">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>GREY</h1>
        </a>
    </section>
    <section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-white">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>WHITE</h1>
        </a>
    </section>
    <section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-cream">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>CREAM</h1>
        </a>
    </section>
    <section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-brown">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>BROWN</h1>
        </a>
    </section>
    <section class="swatch-container">
        <a href="#" class="swatch">
            <ul class="swatch-red">
                <li class="lighter"></li>
                <li class="normal"></li>
                <li class="darker"></li>
                <li class="darkest"></li>
            </ul>
            <h1>Other</h1>
        </a>
    </section>
</div>