<footer class="footer">
  <small>
    <a href="#">Post Your Paint</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms",   terms_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.theerikdreyeridea.com">Created By</a></li>
    </ul>
  </nav>
</footer>
</div> <!-- Close container div -->