<div class="wrapper"> <!-- Start main container, ends in footer -->
    <header>
        <a href="../" class="logo">
            <hgroup>
                <h1>Post Your paint</h1>
                <h2>Find and Post Unused Paint</h2>
            </hgroup>
        </a>
    </header>